@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-button {
  /* Your button styles */
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: relative;
}

/* styles.css */
button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
